/* line 12, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/apps.scss */
.outline {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: relative;
}
/* line 19, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/apps.scss */
.outline div {
  margin: auto;
}

/* line 22, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/apps.scss */
.glyphicon.glyphicon-star, .glyphicon.glyphicon-heart,
.glyphicon.glyphicon-triangle-top, .glyphicon.glyphicon-stop,
.glyphicon.glyphicon-ok {
  font-size: 50px;
}

/* line 28, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/apps.scss */
.glyphicon.glyphicon-star {
  color: #FF0000;
}

/* line 32, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/apps.scss */
.glyphicon.glyphicon-heart {
  color: #2963BD;
}

/* line 36, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/apps.scss */
.glyphicon.glyphicon-triangle-top {
  color: #FFD700;
}

/* line 40, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/apps.scss */
.glyphicon.glyphicon-stop {
  color: #429032;
}

/* line 44, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/apps.scss */
.glyphicon.glyphicon-ok {
  color: #EE82EE;
}
/* line 1, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/custom.css.scss */
section {
  overflow: auto;
}

/* line 5, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/custom.css.scss */
textarea {
  resize: vertical;
}

/* line 8, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/custom.css.scss */
.center {
  text-align: center;
}

/* line 11, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/custom.css.scss */
.center h1 {
  margin-bottom: 10px;
}
/* line 1, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 33, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
#danger {
  color: red;
}

/* line 46, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 52, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 60, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 71, /home/smpatchin/Desktop/glbrc/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

